html, body{
    margin: 0;
    padding: 0;
    font-family:'DM Sans', sans-serif;
    background-color: #a2d2ff;
    user-select: none;
}
.container{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

img{
    width: 150px;
    margin: 0px auto;
}

input{
    color: #b17b00;
    background-color: whitesmoke;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family:'DM Sans', sans-serif;
    margin: 10px 0;
}

button{
    color: #FDFDFD;
    background-color: #0036B1;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family:'DM Sans', sans-serif;
}

ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

ul li{
    background-color: whitesmoke;
    padding: 10px 20px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    color: #b17b00;
    font-size: 19px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
}

button:hover{
    cursor: pointer;
    background-color:#00339A;
}
ul li:hover{
    cursor: pointer;
    opacity: 50%;
}